<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank</title>

    <style>
th, td {
    padding: 5px;
}


    </style>

</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/menu"></th:block>

<h2>Accounts</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Balance</th>
    </tr>
    <tr th:each="accounts : ${accountsDto}">
        <td th:utext="${accounts.id}">..</td>
        <td th:utext="${accounts.fullName}">..</td>
        <td th:utext="${accounts.balance}">..</td>
    </tr>

</table>

<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..
</div>

<form th:action="@{/send-money-problem}" th:object="${sendMoneyForm}" method="POST">
    <table>

        <tr>
            <td>From Bank Account Id</td>
            <td><input type="text" th:field="*{fromAccountId}"/></td>
        </tr>
        <tr>
            <td>To Bank Account Id</td>
            <td><input type="text" th:field="*{toAccountId}"/></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" th:field="*{amount}"/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Send"/></td>
        </tr>
    </table>
</form>


</body>
</html>